USE [master]
GO
/****** Object:  Database [Tourism]    Script Date: 2025-03-26 11:14:44 AM ******/
CREATE DATABASE [Tourism]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tourism', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Tourism.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tourism_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Tourism_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tourism].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tourism]
GO
/****** Object:  Table [dbo].[Tours]    Script Date: 2025-03-26 11:14:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tours](
	[Id] [int] NOT NULL,
	[Code] [varchar](50) NULL,
	[BeginDate] [date] NULL,
	[Day] [int] NULL,
	[Night] [int] NULL,
	[ImageList] [nvarchar](max) NULL,
	[DateCreated] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Tours] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
